---
import Stairs from "../animation/StairsAstro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-secondary overflow-y-auto">
    <Stairs client:load>
      <slot />
    </Stairs>
  </body>

  <style>
    :root {
      --font-title: "ADLaM Display";
      --font-body: "AR One Sans";
      --background: #1a1a1a;
      --foreground: #f8f8f8;
      --primary: #f25c54;
      --secondary: #faf3dd;
      --card: #333333;
      overflow-y: auto;
    }

    body {
      margin: 0;
      font-family: var(--font-body);
      background-color: var(--secondary);
      overflow-y: auto;
    }

    .font-title {
      font-family: var(--font-title);
    }

    .font-body {
      font-family: var(--font-body);
    }
  </style>
</html>
