---
import Stairs from "../animation/StairsAstro";

const location = Astro.url.pathname;
---

<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=AR+One+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-background overflow-y-auto">
    <Stairs location={location} client:load>
      <slot />
    </Stairs>
  </body>
  <!-- foreground -->
  <style>
    :root {
      --font-title: "ADLaM Display";
      --font-body: "AR One Sans";
      --background: #111111;
      --foreground: #f8f8f8;
      --primary: #f78035;
      --secondary: #f8f8f8;
      --card: #f7f4f0;
      overflow-y: auto;
    }

    body {
      margin: 0;
      font-family: var(--font-body);
      background-color: var(--background);
      overflow-y: auto;
    }

    .font-title {
      font-family: var(--font-title);
    }

    .font-body {
      font-family: var(--font-body);
    }
  </style>
</html>
