---
import Layout from '../components/Layout.astro';
---

<Layout>
  <main style="padding:1rem">
    <h1>About</h1>
    <p>This is an example marketing site scaffold using Astro + React.</p>
  </main>
</Layout>
