---
import FormIsland from "../components/FormIsland.tsx";

const submissionId = Astro.url.searchParams.get("id");

if (!submissionId) {
  throw new Error("Missing submission id");
}
---

<html lang="en">
  <head>
    <title>Astro Form</title>
  </head>
  <body>
    <main>
      <FormIsland
        initialStep="features"
        submissionId={submissionId}
        client:load
      />
    </main>
  </body>
</html>

<style>
  :root {
    --font-title: "ADLaM Display", serif;
    --font-body: "AR One Sans", system-ui, sans-serif;
    --background: #1a1a1a;
    --foreground: #f8f8f8;
    --primary: #f25c54;
    --secondary: #faf3dd;
    --card: #333333;
  }

  .font-title {
    font-family: var(--font-title);
  }

  .font-body {
    font-family: var(--font-body);
  }
</style>
