---
import FormIsland from "../components/FormIsland.tsx";
import BaseLayout from "../components/layouts/BaseLayout.astro";

const submissionId = Astro.url.searchParams.get("id");

if (!submissionId) {
  throw new Error("Missing submission id");
}
---

<BaseLayout>
  <main>
    <FormIsland
      initialStep="features"
      submissionId={submissionId}
      client:load
    />
  </main>
</BaseLayout>
