---
import StairsLayout from "../components/layouts/StairsLayout.astro";

---

<StairsLayout>
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">Hello Astro + Stairs!</h1>
  </main>
</StairsLayout>
