---
import PostsLayout from "../components/layouts/PostsLayout.astro";
import { PostShell5 } from "../components/posts/PostShell.tsx";

const user = Astro.locals.user;
const location = Astro.url.pathname;
const blog = Astro.url.searchParams.get("blog");

const squaresConfig = [
  {
    x: "0px",
    y: "1080px",
    width: "1080px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "90px",
    y: "990px",
    width: "990px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "180px",
    y: "900px",
    width: "180px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "90px",
    y: "720px",
    width: "90px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "450px",
    y: "900px",
    width: "630px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "540px",
    y: "810px",
    width: "180px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "540px",
    y: "720px",
    width: "90px",
    height: "90px",
    color: "#f8f8f8",
  },
  {
    x: "900px",
    y: "720px",
    width: "180px",
    height: "180px",
    color: "#f8f8f8",
  },
  {
    x: "720px",
    y: "540px",
    width: "180px",
    height: "180px",
    color: "#f8f8f8",
  },
  {
    x: "810px",
    y: "450px",
    width: "90px",
    height: "90px",
    color: "#f8f8f8",
  },
];
---

<div>
  <PostsLayout>
    <PostShell5
      squaresConfig={squaresConfig}
      blog={blog}
      layoutType="page2"
      for
      PostPage2
      layout
    />
  </PostsLayout>
</div>
