---
import PostsLayout from "../components/layouts/PostsLayout.astro";
import { PostShell5 } from "../components/posts/PostShellTexts.tsx";

const blog = Astro.url.searchParams.get("blog");
const edit = Astro.url.searchParams.get("edit");

const squaresConfig = [
  {
    x: "0px",
    y: "990px", // 1080 - 90
    width: "450px",
    height: "180px",
    color: "#111111",
  },
  {
    x: "90px",
    y: "900px", // 990 - 90
    width: "180px",
    height: "90px",
    color: "#111111",
  },
  {
    x: "810px",
    y: "990px", // 1080 - 90
    width: "270px",
    height: "180px",
    color: "#111111",
  },
  {
    x: "810px",
    y: "900px", // 990 - 90
    width: "90px",
    height: "90px",
    color: "#111111",
  },
];
---

<div>
  <PostsLayout>
    <PostShell5
      client:load
      squaresConfig={squaresConfig}
      blog={blog}
      edit={edit}
      layoutType="page3"
      for
      PostPage2
      layout
    />
  </PostsLayout>
</div>
