---
import BaseLayout from "../components/layouts/BaseLayout.astro";
import PolicyShell from "./Shell/PolicyShell";

const user = Astro.locals.user;
const location = Astro.url.pathname;
---

<BaseLayout>
  <main>
    <PolicyShell  location={location} client:load user={user}  />
  </main>
</BaseLayout>
