---
import ProposalPage from "../components/proposals/Proposal";
---

<html lang="en">
  <meta charset="utf-8" />
  <title>Astro Form</title>

  <body>
    <main>
      <ProposalPage />
    </main>
  </body>
</html>

<style>
  :root {
    --font-title: "ADLaM Display";
    --font-body: "AR One Sans";
    --background: #1a1a1a;
    --foreground: #f8f8f8;
    --primary: #f25c54;
    --secondary: #faf3dd;
    --card: #333333;
  }

  .font-title {
    font-family: var(--font-title);
  }

  .font-body {
    font-family: var(--font-body);
  }
</style>
