---
import Footer from "../components/Footer";
import Header from "../components/Header";
import BaseLayout from "../components/layouts/BaseLayout.astro";
import ProposalIsland from "../components/proposals/Proposal.tsx";

const searchParams = Astro.url.searchParams;

const mode = searchParams.get("mode") ?? "view";
const submissionId = searchParams.get("submissionId") ?? undefined;
---

<BaseLayout>
  <main>
    <Header client:load />
    <ProposalIsland mode={mode} submissionId={submissionId} client:load />
    <Footer client:load />
  </main>
</BaseLayout>
